{% extends "AppMainBundle:Default:layout.html.twig" %}

{% block title %}
	500 | Ошибка сервера
{% endblock %}

{% block description %}
{% endblock %}

{% block content %}
	<h1>Ошибка сервера</h1>
{% endblock %}