{% extends 'AppMainBundle:Admin:category_tree_layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}

	<link rel="stylesheet" href="/bundles/catalog/plugins/tablegear/stylesheets/tablegear.css">

{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script src="/bundles/catalog/plugins/tablegear/javascripts/TableGear1.6.1-jQuery.js"></script>
	<script src="/bundles/catalog/plugins/tablegear/javascripts/tablegear-jquery_bootstrap.js"></script>

	<script>
		// --> Скрипты со стилями-событями. Менять ничего не надо.
		function enableParentSelectionTG() {
			parent.tree.ca = 'parent_tg';
			$('.choose_razd').css('opacity', '0.3');
			$('.choose_razd').html('&lt;Выберите раздел');
		}

		function setParentTG(pId, pName) {
			$('input[name="parent_tg_id"]').val(pId);
			$('input[name="parent_tg_name"]').val(pName);
			parent.tree.ca = 'open';
			$('.choose_razd').css('opacity', '1');
			$('.choose_razd').html('Выберите раздел');
			$('form[name="formtg"]').submit();
		}

		$(function() {
			$('#sortable')
				.sortable({
					placeholder : 'ui-state-highlight'
				})
				.disableSelection();

			$('input[name="ff[]"]').change(function() {
				if ( $(this).is(':checked') ){
					$('#sortable').append('<li class="ui-state-default sortf_'+$(this).val()+'"><input type="hidden" name="sortff[]" value="'+$(this).val()+'">'+$("#fs_"+$(this).val()).html()+'</li>');
				} else {
					$('.sortf_'+$(this).val()).remove();
				}
			});

			$('.hide_sort').click(function() {
				var expire = new Date( new Date().getTime() + 3600000*24*10 );

				if ( $('.trhide').css('display') == 'table-cell' ){
					$('.trhide').fadeOut();
					$(this).html('показать');
					document.cookie = 'hide_sort=0;expires='+expire.toGMTString();
				} else {
					$('.trhide').fadeIn();
					$(this).html('скрыть');

					document.cookie = 'hide_sort=1;expires='+expire.toGMTString();
				}
			});
		});

        $(function() {
            setTimeout(function() {
                    $("td.editable.highlite").each(function() {
                        var today = new Date();
                        var dateInTable = $(this).children("span").text().split('.');
                        var endDate = new Date(dateInTable[2], dateInTable[1] - 1, dateInTable[0]);

                        var diffInDays = Math.round((today.getTime()- endDate.getTime()) / (1000 * 60 * 60 * 24));

                        if (diffInDays > 60) {
                            $(this).css("background-color", '#ff8a80');
                        } else if (diffInDays > 30) {
                            $(this).css("background-color", '#ffd180');
                        } else if (diffInDays > 14) {
                            $(this).css("background-color", '#ffff8d');
                        }
                    });
            }, 1000);
        }());
	</script>

{% endblock %}

{% block breadcrumb %}
	<li><a href="{{ url('sonata_admin_dashboard') }}">{% trans %}Dashboard{% endtrans %}</a></li>
	<li class="active">Табличный редактор продуктов</li>
{% endblock %}

{% block content %}
	{% autoescape false %}
		{{ tablegear_content }}
	{% endautoescape %}
{% endblock %}
