{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block title %}
	{{ parent() }}
	<br>
		{% if object.getRouteName() %}
			<a href="{{ path(object.getRouteName(), object.getRouteParameters) }}" target="_blank">{{ path(object.getRouteName(), object.getRouteParameters) }}</a>
		{% endif %}
{% endblock %}