{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block title %}
	{{ "My title" }}
{% endblock%}

{% block actions %}
	<div class="sonata-actions">
			{% if object.getRouteName() %}
				<a href="{{ path(object.getRouteName(), object.getRouteParameters) }}">{{ object.getRouteName() }}</a>
			{% endif %}
		</ul>
	</div>
{% endblock %}