{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block form %}
	{% if object.getRouteName() and object.getRouteParameters() %}
		<div class="page-link">
			<a href="{{ path(object.getRouteName(), object.getRouteParameters()) }}" target="_blank">{{ path(object.getRouteName(), object.getRouteParameters()) }}</a>
		</div>
	{% endif %}
	{{ parent() }}
{% endblock %}