<div class="row">
	<div class="col-lg-6">
		<div class="box">
			<h3 class="box-title">Другое</h3>
			<div class="box-body">
				<table class="table table-hover">
					<tbody>
					<tr>
						<td class="admin-list-label" width="40%">
							Территории
						</td>
						<td>
							<div class="btn-group">
								<a class="btn btn-link btn-flat" href="/admin/entity">
									<i class="fa fa-plus-circle"></i>
									Добавить новый
								</a>
								<a class="btn btn-link btn-flat" href="/adminka/app/main/territory/list">
									<i class="glyphicon glyphicon-list"></i>
									Список
								</a>
							</div>
						</td>
					</tr>
					<tr>
						<td class="admin-list-label" width="40%">
							Объекты
						</td>
						<td>
							<div class="btn-group">
								<a class="btn btn-link btn-flat" href="/admin/entity">
									<i class="fa fa-plus-circle"></i>
									Добавить новый
								</a>
								<a class="btn btn-link btn-flat" href="/adminka/app/main/object/list">
									<i class="glyphicon glyphicon-list"></i>
									Список
								</a>
							</div>
						</td>
					</tr>
					<tr>
						<td class="admin-list-label" width="40%">
							Новости
						</td>
						<td>
							<div class="btn-group">
								<a class="btn btn-link btn-flat" href="/admin/entity">
									<i class="fa fa-plus-circle"></i>
									Добавить новый
								</a>
								<a class="btn btn-link btn-flat" href="/adminka/app/main/post/list">
									<i class="glyphicon glyphicon-list"></i>
									Список
								</a>
							</div>
						</td>
					</tr>
					<tr>
						<td class="admin-list-label" width="40%">
							Страницы
						</td>
						<td>
							<div class="btn-group">
								<a class="btn btn-link btn-flat" href="/admin/entity">
									<i class="fa fa-plus-circle"></i>
									Добавить новый
								</a>
								<a class="btn btn-link btn-flat" href="/adminka/app/main/staticpage/list">
									<i class="glyphicon glyphicon-list"></i>
									Список
								</a>
							</div>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="box">
			<h3 class="box-title">Каталог</h3>
			<div class="box-body">
				<table class="table table-hover">
					<tbody>
					<tr>
						<td class="admin-list-label" width="40%">
							Категории
						</td>
						<td>
							<div class="btn-group">
								<a class="btn btn-link btn-flat" href="/admin/entity">
									<i class="fa fa-plus-circle"></i>
									Добавить новый
								</a>
								<a class="btn btn-link btn-flat" href="/adminka/app/main/category/list">
									<i class="glyphicon glyphicon-list"></i>
									Список
								</a>
							</div>
						</td>
					</tr>
					<tr>
						<td class="admin-list-label" width="40%">
							Изделия
						</td>
						<td>
							<div class="btn-group">
								<a class="btn btn-link btn-flat" href="/admin/entity">
									<i class="fa fa-plus-circle"></i>
									Добавить новый
								</a>
								<a class="btn btn-link btn-flat" href="/adminka/app/main/product/list">
									<i class="glyphicon glyphicon-list"></i>
									Список
								</a>
							</div>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-lg-6">
		<div class="box">
			<h3 class="box-title">Табличный редактор продуктов</h3>
			<div class="box-body text-center">
				<a href="/admin/editproducts" target="_blank">
					<i class="fa fa-plus-square fa-fw"></i>
					Открыть
				</a>
			</div>
		</div>
	</div>
</div>