<aside class="sidebar-wrapper">
<div class="sidebar">
		<div class="sidebar-tree" id="js-tree"></div>

		<ul class="sidebar-links list-unstyled">
			<li class="sidebar-links-item">
				<a href="#" class="sidebar-link">Категории</a>
			</li>
			<li class="sidebar-links-item">
				<a href="#" class="sidebar-link">Изделия</a>
			</li>
			<li class="sidebar-links-item">
				<a href="#" class="sidebar-link">Территории</a>
			</li>
			<li class="sidebar-links-item">
				<a href="#" class="sidebar-link">Объекты</a>
			</li>
			<li class="sidebar-links-item">
				<a href="#" class="sidebar-link">Новости</a>
			</li>
			<li class="sidebar-links-item">
				<a href="#" class="sidebar-link">Страницы</a>
			</li>
		</ul>
	</div>
</aside>