/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
/web/webstat
/.idea

/web/bundles/*.jpg
/web/bundles/*/*.jpg
/web/bundles/*/*/*.jpg
/web/bundles/*/*/*/*.jpg
/web/bundles/*/*/*/*/*.jpg
/web/bundles/*/*/*/*/*/*.jpg

/web/bundles/*.png
/web/bundles/*/*.png
/web/bundles/*/*/*.png
/web/bundles/*/*/*/*.png
/web/bundles/*/*/*/*/*.png
/web/bundles/*/*/*/*/*/*.png

/web/bundles/*.gif
/web/bundles/*/*.gif
/web/bundles/*/*/*.gif
/web/bundles/*/*/*/*.gif
/web/bundles/*/*/*/*/*.gif
/web/bundles/*/*/*/*/*/*.gif

/web/bundles/*.tiff
/web/bundles/*/*.tiff
/web/bundles/*/*/*.tiff
/web/bundles/*/*/*/*.tiff
/web/bundles/*/*/*/*/*.tiff
/web/bundles/*/*/*/*/*/*.tiff

/web/bundles/*.jpeg
/web/bundles/*/*.jpeg
/web/bundles/*/*/*.jpeg
/web/bundles/*/*/*/*.jpeg
/web/bundles/*/*/*/*/*.jpeg
/web/bundles/*/*/*/*/*/*.jpeg

/web/bundles/*.bmp
/web/bundles/*/*.bmp
/web/bundles/*/*/*.bmp
/web/bundles/*/*/*/*.bmp
/web/bundles/*/*/*/*/*.bmp
/web/bundles/*/*/*/*/*/*.bmp