app/bootstrap.php.cache
app/cache/*
app/logs/*
app/xml/*
build/
vendor/
bin/
composer.phar
.idea
web/favicon.ico
app/config/parameters.yml
app/indexation
web/webstat/
web/assets
web/robots.txt
web/*.xml
web/sitemap*
web/.htaccess
web/*.html
web/*.xls