.DS_Store
app/bootstrap.php.cache
app/SymfonyRequirements.php
app/cache/*
app/logs/*
vendor/
bin/
composer.lock
.idea
app/config/parameters.yml
app/indexation
web/webstat/
web/assets
web/robots.txt
web/*.xml
web/sitemap*
web/price.yml
web/.htaccess
web/*.html
web/*.xls
web/bundles/*
!web/bundles/main/
!web/bundles/main/*
!web/bundles/admin/
!web/bundles/admin/*
!web/bundles/catalog/
!web/bundles/catalog/*
