<h4 class="entity-form-title">Пояснение к маркировке</h4>
<div class="form-group">
  <div class="input-group">
    <div class="input-group-addon input-addon-with-input">
      <input class="form-control" id="input-explanation-01" type="text" placeholder="ОЛ">
    </div>
    <input class="form-control" id="input-explanation-02" type="text" placeholder="Опора лоджии">
  </div>
</div>

<div class="form-group">
  <div class="input-group">
    <div class="input-group-addon input-addon-with-input">
      <input class="form-control" id="input-explanation-03" type="text" placeholder="43.">
    </div>
    <input class="form-control" id="input-explanation-04" type="text" placeholder="Ширина">
  </div>
</div>

<div class="form-group">
  <div class="input-group">
    <div class="input-group-addon input-addon-with-input">
      <input class="form-control" id="input-explanation-05" type="text" placeholder="10.">
    </div>
    <input class="form-control" id="input-explanation-06" type="text" placeholder="Длина">
  </div>
</div>

<div class="form-group">
  <div class="input-group">
    <div class="input-group-addon input-addon-with-input">
      <input class="form-control" id="input-explanation-07" type="text" placeholder="6-">
    </div>
    <input class="form-control" id="input-explanation-08" type="text" placeholder="Высота">
  </div>
</div>

<div class="form-group">
  <div class="input-group">
    <div class="input-group-addon input-addon-with-input">
      <input class="form-control" id="input-explanation-09" type="text" placeholder="Т">
    </div>
    <input class="form-control" id="input-explanation-10" type="text" placeholder="Эта буква тоже что-то значит">
  </div>
</div>