body{
    background-color: #f4f6f8;
    font-family: tahoma;
    font-size: 12px;
    padding: 0px;
    color:#333333;
}

.container{width: 1250px;}
div.header{
    width: 1250px;
    height: 75px;
    border-bottom: 1px solid #B0C7D3;
}

div.logo{
    width: 195px;
    height: 50px;
    display: inline-block;
    float:left;
    margin: 15px 0px 0px 20px;
}

div.logo p{color:#5D98CB;}

div.h-call-me{
    color:#1C364E;
 background: url(../img/phone-icon.png) left no-repeat;
    display: inline-block;
    float: right;
    margin: 15px 20px 0px 0px;
    width: 255px;
    height: 50px;
}

div.h-call-me p{
    float: right;
    font-size:16px;
    margin-bottom: 7px;

}
div.h-call-me a{
    text-decoration: underline;
    float: right;
    text-transform: uppercase;
    font-size: 13px;
}
div.h-call-me a:visited{color:#1C364E;}
/*----------------------------------------------------------------------------------*/
div.strong-line{
    margin: 1px 0px 1px 0px;
    width: 100%;
    height: 3px;
    border-top: 1px solid #004C72;
    border-bottom: 1px solid #004C72 ;
    background: #008BAA;
}

div.main-slider-wrapper{
    border-top: 1px solid #B0C7D3;
    border-bottom:  1px solid #B0C7D3;
    width:100%;
    height: 289px;
    padding: 1px 0 1px 0;
}

div.carousel-caption p{font-style: italic;}

div.carousel-caption p, div.carousel-caption a{
    position: relative;
    color:#ffffff;
    text-decoration: none;
}
/*----------------------------------------------------------------------------------*/

div.h-menu-wrapper{
    width: 100%;
    height: 67px;
    padding-top: 10px;
    border-top: 1px solid #B0C7D3;
    border-bottom:  1px solid #B0C7D3;
}

div.h-menu{
    width: 100%;
    height: 51px;
    padding: 1px 0px 1px 0px;
    background: url("../img/h-menu-back.png") repeat-x;
    border-top: 1px solid #B0C7D3;
    border-bottom:  1px solid #B0C7D3;
}

div.h-menu>div{
    width: 710px;
    height: 100%;
    padding-top: 7px;
    margin: auto;
}

div.h-menu>div button{
    width: 125px;
    height: 35px;
    border-radius: 20px;
    margin: 0px 9px 0px 9px;
    color: #274D70;
}

div.h-menu>div button:first-child{margin-left: 0px; float: left;}
div.h-menu>div button:last-child{margin-right: 0px; float: right;}

/*----------------------------------------------------------------------------------*/

div.content{
    width: 100%;
    padding-top: 10px;
    margin-bottom: 20px;
}

div.main-left-col{
    width: 20%;
    display: inline-block;
    float: left;
	height:auto;
}
div.main-center-col{
	width:77%;
    display: inline-block;
    margin: 0px 15px 50px 10px;
	float:right;
	min-height:400px;
}
div.main-right-col{
    width: 20%;
    display: inline-block;
    float: right;
}
div.center-col{
    width:73%;
    display: inline;
    float: left;

 }
/*----------------------------------------------------------------------------------*/

div.main-catalog{
    height: auto;
    border:1px solid #D7D7D7;
    border-radius: 20px;
    border-top:none;
    box-shadow: 0.0em 0.7em 15px rgba(122,122,122,0.5);
}

div.main-catalog>div:first-child{
    background: url("../img/main-catalog.png");
    height: 70px;
    position: relative;
	left:-1px;
}

div.main-catalog>div p{
    color:#ffffff;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top:25px;
    text-shadow: 0px 1px  #000000;
}
div.main-catalog ul{
    padding: 0;
    border-radius: 20px;
    height: auto;
    margin: 0;
}

div.main-catalog ul li{
    width: 100%;
    height: 45px;
    list-style: none;
    border-top: 1px solid #EAEAEA;
    background: #fefcea; /* Для старых браузров */
    background: -moz-linear-gradient(top, #fefcea, #F6F6F6); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%,#fefcea), color-stop(100%,#F6F6F6));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #fefcea, #F6F6F6);
    background: -o-linear-gradient(top, #fefcea, #F6F6F6); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fefcea, #F6F6F6); /* IE10 */
    background: linear-gradient(top, #fefcea, #F6F6F6); /* CSS3 */
}

div.main-catalog ul li:first-child{border-top: 1px solid #B5B5B5;}

div.main-catalog ul li:last-child
{
border-bottom:0 solid #EAEAEA;
margin-bottom:10px;
}

div.main-catalog ul li:hover{
    background: #E4EBED;
    background: -moz-linear-gradient(top, #fefcea,#E4EBED); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%,#fefcea), color-stop(100%,#E4EBED));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #fefcea, #E4EBED);
    background: -o-linear-gradient(top, #fefcea, #E4EBED); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fefcea, #E4EBED); /* IE10 */
    background: linear-gradient(top, #fefcea,#E4EBED); /* CSS3 */
}

div.main-catalog ul li a{
    color:#4A879E;
    font-size: 14px;
    text-decoration: none;
    position: relative;
    top:10px;
    left: 20px;
	text-transform:uppercase;

}
div.main-catalog-wrapper{
    width: 244px;
    height: auto;
    border:1px solid #D7D7D7;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    margin: auto;
    background-color: #FAFAFA;
}
/*----------------------------------------------------------------------------------*/

div.news-block{
    width: 95%;
    margin:auto;

}

div.content-header{
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px dashed #6F95A9;
}

div.content-header p{ text-transform: uppercase; font-size: 18px; color: #244665;}

div.news-small:hover{color:#234565;}
div.news-small{
    width:30%;
    display: inline-block;
    margin: 5px;
    color:#1D1D1D;
}

p.date{
    color:#4D6982;
    margin-bottom: 10px;
    font-weight: bold;
}

div.main-info{
    width: 95%;
    padding: 20px;
    border: 4px solid #C2C4C5;
    border-radius: 7px;
    background-color: #D4D7D8;
    margin-top: 10px;
}
p.info-header { font-size: 18px; color: #244665; margin-bottom: 10px;}
div.main-info p{margin-bottom: 10px; color: #173C5C;}

/*----------------------------------------------------------------------------------*/
div.top-product{
    width: 100%;
    border: 5px solid #E2EFF5;
    border-radius: 20px;
    margin-left: -5px;
}

div.top-product-header{
    height: 40px;
    border-bottom: 1px solid #B8CDD7;
    text-align: center;
    width: 88%;
    margin: auto;

}

div.top-product-header p{
    text-transform: uppercase;
    color: #173C5C;
    text-decoration: none;
    position: relative;
    top:12px;
}


div.product{
    border-bottom: 1px solid #B8CDD7;
    width: 88%;
    margin: 5px auto 10px auto;
    text-align: center;
    padding-bottom: 3px;

}
div.product:last-child{border-bottom: none;}

div.product a
{

    text-transform: uppercase;
    color: #274D6F;
    text-decoration: underline;

}

/*----------------------------------------------------------------------------------*/
div.block-page{
    width: 100%;
    clear: both;
    height: 2px;
    background-color: #3C6A85;
    margin: 100px 0px 2px 0px;
}


div.footer{
    width: 100%;
    height: 125px;

    border-top: 1px solid #3B6984;
    background: #F3F6F8; /* Для старых браузров */
    background: -moz-linear-gradient(top, #B0C7D3, #F3F6F8); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%,#B0C7D3), color-stop(100%,#F3F6F8));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #B0C7D3, #F3F6F8);
    background: -o-linear-gradient(top, #B0C7D3, #F3F6F8); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,#B0C7D3, #F3F6F8); /* IE10 */
    background: linear-gradient(top, #B0C7D3, #F3F6F8);

}

div.f-menu{
    display: inline-block;
    width: 615px;
    margin:7px 0 0 95px
}

div.f-menu ul li{  display: inline-block;}

div.f-menu ul li a{
    color:#244D6F;
    font-style: italic;
    font-size: 18px;
    margin: 0px 15px;
    text-decoration: none;

}

div.f-call-me{
    display: inline-block;
    float: right;
    height: 100px;
    width: 270px;
    background: url("../img/footer-phone-icon.png") no-repeat;
    margin:10px 20px 0px 0px;
}
div.f-call-me p{
    color:#1C364E;
    font-size: 18px;
   text-align: right;
    position: relative;
    top:10px;
}
/*--------------------------------------------------------------------------*/

div.breadcrumb{
    width: 97%;
    background-color: #d5dce3;
    height: 40px;
    border-radius: 10px;
    margin: 15px 0px 15px 0px;
}
.product-wrapper{
    width: 100%;
    background-color: #E5ECF0;
    border: 3px solid #CCD2D6;
    border-radius: 5px;
    margin-top: 20px;

}

div.product-full{
    width: 97%;
    margin: 20px 5px 0px 20px;
}
div.product-full > div:first-child{
    width: 25%;
    display: inline-block;
    float: left;
}

div.product-full > div:last-child{
    width: 73%;
    margin-left: 10px;
    display: inline-block;
    float: right;
}

div.product-full > div:last-child p{
    margin-bottom: 20px;
    font-size: 14px;
}

div.price{
    background-color: #90A700;
    border: 2px solid #C5CBCE;
    float: right;
    margin-right: 40px;
    text-align: center;
}

.full-product-price{
    width: 150px;
    height: 40px;
    border-radius: 15px;
}
div.price p{
    color: #272E00;
    font-size: 16px;
    position: relative;
    top:5px;
}
div.price p span{font-size: 20px;}

.showcase{
    width: 820px;
    height: 170px;
    margin: 0px auto 30px auto;
    background-color: #969B9D;
    position: relative;
    top:20px;
}
.showcase tr{padding: 15px}
.showcase tr td{
    background-color:  #ffffff;
    height: 125px;
    width: 140px;
}
.pagination{
    width: 100%;
    background-color: #D4DDE4;
    border-radius: 7px;
}
.pagination ul{
    margin: 0 !important;
    padding: 2px !important;
}
.pagination ul li{

    border-radius: 2px;
}

/*-------------------------------------------------------------------------------------*/
table.product-list{
    border-collapse: separate; /* Способ отображения границы */
    border-spacing: 10px 2px; /* Расстояние между ячейками */

   background-color: #ffffff;
   width:auto;
}

.product-medium-price{
     margin: 10px 0 !important;
    width: 120px;
    height: 30px;
    float: none !important;
    border-radius: 7px;
    position: relative;
    left: 15px;


}
.product-list tr td a{   text-decoration: none;}
.product-list tr td a div:first-child{
    background-color: #D8DEE2;
    height: 200px;
    width: 150px;
    border-radius: 5px;
}

.product-list tr td a div:first-child img{
  margin:25px 25px;
}
.product-list tr td a div img{
    width:99px;
    height:150px;
}
.btn,
.btn-dropdown
{
padding:7px 35px 7px 35px;
border-radius:20px;
text-decoration:none;
margin-left:5px;
}
.search
{
position:absolute;
top:20px;
left:50%;
}
.dropdownmenu ul  
{
display:none;
}
.dropdownmenu:hover ul
{
display:block;
position:relative;
left:200px;
}
.photo-div
{
float:left;
padding:15px;
}
.product-description
{
float:right;
}
.product-div
{

}