{% extends "AppCatalogBundle:Default:layout.html.twig" %}

{% block title %}
{% endblock %}

{% block description %}
{% endblock %}


{% block content %}
	<p> Компания «СТК-ПромБетон» производит железобетонные изделия для дорожного, энергетического, общегражданского
		видов строительства.
		Мы производим более 12 000 различных ЖБИ изделий. Все они представлены в нашем каталоге с описанием технических
		параметров
		За 3 года работы мы обеспечили железобетонными изделиями более 150 строительных объектов не только в
		Санкт-Петербурге, но и по всей России.
		Коллектив и техническое оснащение нашего производства позволяет обеспечить нам высокое качество оптимальные
		сроки выполнение работ.
		Затрудняетесь в выборе?
		Просто свяжитесь с нами и наши специалисты помогут найти оптимальный вариант.
		Список основных категорий железобетонных изделий:</p>
	<div class="visual-category-wrapper">
		<div class="visual-category-1" style="border-right: 0px;"><a href="#">Трубы круглые</a></div>
		<div class="visual-category-1"><a href="#">Трубы круглые</a></div>
		<div class="visual-category-1"><a href="#">Трубы круглые</a></div>
		<div class="visual-category-1" style="border-right: 0px"><a href="#">Трубы круглые</a></div>
		<br/><br/>
	</div>
	<div class="visual-category-wrapper">
		<div class="visual-category-2" style="border-right: 0px;"><a href="#">Трубы прямоугольные</a></div>
		<div class="visual-category-2"><a href="#">Трубы прямоугольные</a></div>
		<div class="visual-category-2"><a href="#">Трубы прямоугольные</a></div>
		<div class="visual-category-2" style="border-right: 0px"><a href="#">Трубы прямоугольные</a></div>
		<br/>
	</div>
	<div class="visual-category-wrapper">
		<div class="visual-category-3" style="border-right: 0px;"><a href="#">Трубы прямоугольные</a></div>
		<div class="visual-category-3"><a href="#">Трубы прямоугольные</a></div>
		<div class="visual-category-3"><a href="#">Трубы прямоугольные</a></div>
		<div class="visual-category-3" style="border-right: 0px"><a href="#">Трубы прямоугольные</a></div>
		<br/>
	</div>


	<div class="showcase rcs">
		<div class=" jcarousel-skin-tango">
			<div class="jcarousel-container jcarousel-container-horizontal" style="position: relative; display: block;">
				<div class="jcarousel-clip jcarousel-clip-horizontal" style="overflow: hidden; position: relative;">
					<ul id="showcase-gbi-categories" class="jcarousel-list jcarousel-list-horizontal"
						style="overflow: hidden; position: relative; top: 0px; margin: 0px; padding: 0px; left: -7740px; width: 10850px;">
						<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-1 jcarousel-item-1-horizontal"
							style="float: left; list-style: none;" jcarouselindex="1">
							<a href="/gbi/energy-stroy/?section=358&gbi=1263" class="rcs">
								<div><img src="/bundles/catalog/img/286-th.jpg"></div>
								<div class="showcase-name">Б-5 (Б-11а) Брусок железобетонный</div>
								<div class="showcase-price">
									<div class="showcase-price">
										Цена
										<span>188 руб.</span>
										<span>Купить</span>
									</div>
							</a>
						</li>
						<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-2 jcarousel-item-2-horizontal"
							style="float: left; list-style: none;" jcarouselindex="2">
							<a href="/gbi/prom-stroy/?section=10&gbi=348" class="rcs">
								<div>
									<img src="/bundles/catalog/img/416-th.jpg"/>
								</div>
								<div class="showcase-name">ЛМ31.13.5.15-5д (д2) Лестничный марш железобетонный</div>
								<div class="showcase-price">
									Цена
									<span>18060 руб.</span>
									<span>Купить</span>
								</div>
							</a>
						</li>
						<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-3 jcarousel-item-3-horizontal"
							style="float: left; list-style: none;" jcarouselindex="3">
							<a href="/gbi/prom-stroy/?section=10&gbi=348" class="rcs">
								<div>
									<img src="/bundles/catalog/img/684-th.jpg"/>
								</div>
								<div class="showcase-name">С35-1-10-2 Свая железобетонная</div>
								<div class="showcase-price">
									Цена
									<span>30000 руб.</span>
									<span>Купить</span>
								</div>
							</a>
						</li>
						<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-4 jcarousel-item-4-horizontal"
							style="float: left; list-style: none;" jcarouselindex="4">
							<a href="/gbi/dor-stroy/?section=342&gbi=1001" class="rcs">
								<div>
									<img src="/bundles/catalog/img/831-th.jpg"/>
								</div>
								<div class="showcase-name">Ф1п.л-15-90 Лекальный блок железобетонный</div>
								<div class="showcase-price">
									Цена
									<span>17550 руб.</span>
									<span>Купить</span>
								</div>
							</a>
						</li>
						<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-5 jcarousel-item-5-horizontal"
							style="float: left; list-style: none;" jcarouselindex="5">
							<a href="/gbi/blag-territory/?section=101&gbi=1458" class="rcs">
								<div>
									<img src="/bundles/catalog/img/2122-th.jpg"/>
								</div>
								<div class="showcase-name">2П10 Тротуарная плитка</div>
								<div class="showcase-price">
									Цена
									<span>200 руб.</span>
									<span>Купить</span>
								</div>
							</a>
						</li>
						<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-6 jcarousel-item-6-horizontal"
							style="float: left; list-style: none;" jcarouselindex="6">
							<a href="/gbi/prom-stroy/?section=10&gbi=326" class="rcs">
								<div>
									<img src="/bundles/catalog/img/7315-th.jpg"/>
								</div>
								<div class="showcase-name">ЛМ28.13.5.13.5-5д (д2) Лестничный марш железобетонный</div>
								<div class="showcase-price">
									Цена
									<span>16340 руб.</span>
									<span>Купить</span>
								</div>
							</a>
						</li>
						<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-7 jcarousel-item-7-horizontal"
							style="float: left; list-style: none;" jcarouselindex="7">
							<a href="/gbi/prom-stroy/?section=10&gbi=306" class="rcs">
								<div>
									<img src="/bundles/catalog/img/7318-th.jpg"/>
								</div>
								<div class="showcase-name">ЛМ25.10.5.12-5д (д2) Лестничный марш железобетонный</div>
								<div class="showcase-price">
									Цена
									<span>11286 руб.</span>
									<span>Купить</span>
								</div>
							</a>
						</li>
					</ul>

				</div>
				<div class="jcarousel-prev jcarousel-prev-horizontal jcarousel-prev-disabled jcarousel-prev-disabled-horizontal"
					 style="display: block;" disabled="disabled"></div>
				<div class="jcarousel-next jcarousel-next-horizontal" style="display: block;"></div>
			</div>
		</div>
	</div>


{% endblock %}