# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port: null
    database_name:
    database_user:
    database_password:
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    locale:            ru
    base_url:          www.stroyprombeton.ru
    email_order:       order@stroyprombeton.ru
    email_info:        info@stroyprombeton.ru
    email_as:          as@stkmail.ru
    stb_phone_01:      '8 (812) 655-73-60'
    stb_phone_link_01: 'tel:+78126557360'
    stb_phone_02:      '8 (812) 655-72-95'
    stb_phone_link_02: 'tel:+78126557295'

    # A secret key that's used to generate certain security-related tokens
    secret:            3c99e88d2f2c52390819c78bc38e38d1e7df8d5c
    router.request_context.host: %base_url%
