{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block breadcrumb %}
    <li><a href="{{ url('sonata_admin_dashboard') }}">{% trans %}Dashboard{% endtrans %}</a></li>
    <li class="active">Трабличный редактор продуктов</li>
{% endblock %}

{% block content %}
	{% autoescape false %}
		{{ tablegear_content }}
	{% endautoescape %}
{% endblock %}
