{% extends "AppCatalogBundle:Admin:layout.html.twig" %}

{% block css %}
    <style>
        #sortable1, #sortable2, #sortable3 { list-style-type: none; margin: 0; padding: 0; float: left; margin-right: 10px; background: #eee; padding: 5px; width: 143px;}
        #sortable1 li, #sortable2 li, #sortable3 li { margin: 5px; padding: 5px; font-size: 1.2em; width: 120px; }
    </style>
{% endblock %}

{% block js %}
    <script>
        $(CatalogAdmin.initDragAndDrop());
        jQuery(document).ajaxStart(function(){
            $('#loading').fadeIn(200);
        });

        jQuery(document).ajaxStop(function(){
            $('#loading').fadeOut(200);
        });

        jQuery(document).ajaxError(function(){
            CatalogAdmin.view.notify.error('Действие не выполнено. Возникла ошибка на сервере.');
        });

        $(function(){
            $.contextMenu({
                selector: '.category-list-unit',
                callback: function(key, options) {
                    switch (key) {
                        case 'edit': {
                            CatalogAdmin.loadCategory($(this).attr('category-id'));
                            break;
                        }
                        case 'addChild': {
                            CatalogAdmin.getBlankCategory($(this).attr('category-id'));
                            break;
                        }
                        case 'delete': {
                            categoryId = $(this).attr('category-id');
                            CatalogAdmin.deleteCategory(categoryId, $(CatalogAdmin.parts.categoryEditor).find('tr[category-id=' + categoryId + ']'));
                            break;
                        }
                    }
                },
                items: {
                    "edit": {name: "Редактировать", icon: "pencil"},
                    "addChild": {name: "Добавить потомка", icon: "plus"},
                    "delete": {name: "Удалить", icon: "remove"}
                }
            });
            $.contextMenu({
                selector: '.product-list-unit',
                callback: function(key, options) {
                    switch (key) {
                        case 'edit': {
                            CatalogAdmin.loadProduct($(this).attr('product-id'));
                            break;
                        }
                        case 'delete': {
                            alert('delete');
                            /*categoryId = $(this).attr('category-id');
                            CatalogAdmin.deleteCategory(categoryId, $(CatalogAdmin.parts.categoryEditor).find('tr[category-id=' + categoryId + ']'));*/
                            break;
                        }
                    }
                },
                items: {
                    "edit": {name: "Редактировать", icon: "pencil"},
                    "delete": {name: "Удалить", icon: "remove"}
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="category-lists-container">
        <div class="category-lists">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    {% for category in rootCategories %}
                        <li title="{{ category.title }}"><a href="#categoryTab{{ loop.index0 }}" data-toggle="tab">{{ category.title|slice(0, 15) }}...</a></li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for category in rootCategories %}
                        <div class="tab-pane" id="categoryTab{{ loop.index0 }}">
                            {% include "AppCatalogBundle:Admin:ul.childs.category.html.twig"  with {'category' : category, 'categoryChilds' : rootChilds[category.id] }%}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div id="uncat-products">
        <div class="header">
            <p><b>Продукты без категории</b> <a style="font-size: 10px" onclick="$('#uncat-products-content').toggle()">(свернуть)</a></p>
        </div>
        <div id="uncat-products-content">
            <div class="form-search">
                <form class="input-append" onsubmit="CatalogAdmin.searchUncatProduct($(this).find('input').val()); return false;">
                    <input type="text" class="span2 search-query" style="width: 160px">
                    <button type="submit" class="btn"><span class="icon-search"></span></button>
                </form>
            </div>

            <div id="uncat-products-container">
            </div>
        </div>
    </div>
    <h3>Редактор категорий</h3>
    <div id="category-editor-container" style="overflow-x: hidden; background-color: aliceblue">
        <table id="category-editor" class="table table-stripped" style="width: 100%; margin-top: 10px">
            <tr>
                <td>id</td>
                <td style="min-width: 500px">description</td>
                <td>nomen</td>
                <td>name</td>
                <td>title</td>
                <td>mark</td>
                <td>order</td>
                <td>coefficient</td>
                <td>isActive</td>
                <td>photoId</td>
                <td>Действия</td>
            </tr>
        </table>
    </div>
    <h3>Редактор продуктов</h3>
    <div id="product-editor-container" style="overflow-x: hidden; background-color: antiquewhite">
        <table id="product-editor" class="table table-stripped" style="width: 100%; margin-top: 10px">
            <tr>
                <td>id</td>
                <td style="min-width: 500px">desc</td>
                <td>isActive</td>
                <td>isNewPrice</td>
                <td>nomen</td>
                <td>mark</td>
                <td>name</td>
                <td>length</td>
                <td>width</td>
                <td>height</td>
                <td>weight</td>
                <td>volume</td>
                <td>diameterOut</td>
                <td>diameterIn</td>
                <td>price</td>
                <td>comments</td>
                <td>Действия</td>
            </tr>
        </table>
    </div>
{% endblock %}