<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="pragma" content="no-cache" />
        <title>{% block title %} {% endblock %}</title>
        {% block csslinks %}{% endblock %}
        {% block jslinks %}{% endblock %}
        <meta name="Keywords" content="{% block keywords %} {% endblock %}" />
        <meta name="Description" content="{% block description %} {% endblock %}" />
        <meta name='yandex-verification' content='65c4bf8925ff80e2' />

				<meta name="revisit" content="1 days" />
				<meta name="revisit-after" content="1 days" />
				<meta name="robots" content="index, follow" />
				<meta name="distribution" content="global" />
				<meta name="rating" content="general" />
				<meta name="name" content="организация корпоративных мероприятий, организация свадьбы, организация тимбилдинга" />

			<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block js %}{% endblock %}
        {% block css%}{% endblock %}
    </body>
</html>