<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="pragma" content="no-cache"/>

	<title>{% block title %} {% endblock %}</title>

	{% block csslinks %}{% endblock %}
	{% block jslinks %}{% endblock %}

	<meta name="Keywords" content="{% block keywords %} {% endblock %}"/>
	<meta name="Description" content="{% block description %} {% endblock %}"/>
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
	{% block body %}{% endblock %}
	{% block js %}{% endblock %}
	{% block css %}{% endblock %}
</body>
</html>