{% extends "AppMainBundle:Default:base.layout.html.twig" %}

{% block csslinks %}
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

	<link rel="stylesheet" type="text/css" href="http://yandex.st/jquery-ui/1.10.0/themes/eggplant/jquery-ui.min.css" />

	<link rel="stylesheet" type="text/css" href="/bundles/main/plugins/fancybox/source/jquery.fancybox.css?v=2.1.2" media="screen" />
	<link rel="stylesheet" type="text/css" href="/bundles/main/style/sliderkit-core.css" media="screen, projection" />
	<link rel="stylesheet" type="text/css" href="/bundles/main/style/jcarousel-skin.css" />
    <link rel="stylesheet" type="text/css" href="/bundles/main/style/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/bundles/main/style/bootstrap-formhelpers.css" />
	<link rel="stylesheet" type="text/css" href="/bundles/main/style/basic.css" />

{% endblock %}

{% block jslinks %}
	<script type="text/javascript" src="http://yandex.st/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript" src="http://yandex.st/jquery-ui/1.9.2/jquery-ui.min.js"></script>
	<script type="text/javascript" src="http://yandex.st/jquery/easing/1.3/jquery.easing.min.js"></script>
	<script type="text/javascript" src="http://yandex.st/jquery/mousewheel/3.0.6/jquery.mousewheel.min.js"></script>

	<script type="text/javascript" src="http://yandex.st/jquery-ui/1.9.2/jquery.ui.datepicker.min.js"></script>
	<script type="text/javascript" src="/bundles/main/scripts/jquery-ui-timepicker-addon.min.js"></script>

	<script type="text/javascript" src="/bundles/main/scripts/lib/jquery.sliderkit.1.9.2.pack.js"></script>
	<script type="text/javascript" src="/bundles/main/scripts/lib/sliderkit.counter.1.0.pack.js"></script>
	<script type="text/javascript" src="/bundles/main/scripts/lib/sliderkit.delaycaptions.1.1.pack.js"></script>
	<script type="text/javascript" src="/bundles/main/scripts/lib/sliderkit.imagefx.1.0.pack.js"></script>
	<script type="text/javascript" src="/bundles/main/scripts/lib/sliderkit.timer.1.0.pack.js"></script>

	<script type="text/javascript" src="http://yandex.st/jquery/fancybox/2.1.3/jquery.fancybox.min.js"></script>

	<script type="text/javascript" src="/bundles/main/scripts/lib/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="/bundles/main/plugins/bootstrap/bootstrap-formhelpers-phone.js"></script>

	<script type="text/javascript" src="/bundles/main/scripts/engine.js"></script>

	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-30900987-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
{% endblock %}

{% block body %}
	<div class="page-all">

	<div class="cover">
		<div class="cover-content">
			<div class="sliderkit slideshow-standard">
				<div class="sliderkit-panels">
					<div class="sliderkit-panel">
						<div class="slide-title"><a href="/korporativi/">Организация корпоративных мероприятий</a></div>
						<img src="/bundles/main/images/covers/main-page/1.jpg" />
					</div>
					<div class="sliderkit-panel">
						<div class="slide-title"><a href="/korporativi/korporativnyj-turizm/">Корпоративный туризм</a></div>
						<img src="/bundles/main/images/covers/main-page/2.jpg" />
					</div>
					<div class="sliderkit-panel">
						<div class="slide-title"><a href="/svadba/">Организация и проведение свадьбы</a></div>
						<img src="/bundles/main/images/covers/main-page/3.jpg" />
					</div>
					<div class="sliderkit-panel">
						<div class="slide-title"><a href="/svadba/malchishnik/">Организация мальчишника</a></div>
						<img src="/bundles/main/images/covers/main-page/4.jpg" />
					</div>
					<div class="sliderkit-panel">
						<div class="slide-title"><a href="/shkolnye-prazdniki/vypusknoj/">Организация выпускного</a></div>
						<img src="/bundles/main/images/covers/main-page/5.jpg" />
					</div>
					<div class="sliderkit-panel">
						<div class="slide-title"><a href="/detskie-prazdniki/">Детские праздники</a></div>
						<img src="/bundles/main/images/covers/main-page/6.jpg" />
					</div>
					<div class="sliderkit-panel">
						<div class="slide-title"><a href="/biznes/konferentsii/">Организация и проведение конференций</a></div>
						<img src="/bundles/main/images/covers/main-page/7.jpg" />
					</div>
					<div class="sliderkit-panel">
						<div class="slide-title"><a href="/biznes/peregovory/">Организация и проведение переговоров</a></div>
						<img src="/bundles/main/images/covers/main-page/8.jpg" />
					</div>
					<div class="sliderkit-panel">
						<div class="slide-title"><a href="/biznes/presentatsii/">Организация и проведение презентаций</a></div>
						<img src="/bundles/main/images/covers/main-page/9.jpg" />
					</div>

				</div>
			</div>
		</div>

		<div class="logo">
			<div class="logo-content">
				<a href="/">
					<img src="/bundles/main/images/logo.png" alt="Медиа Концерн" title="Медиа Концерн" />
					<div class="slogan">Организация корпоративных<br />мероприятий и частных<br />праздников</div>
				</a>
			</div>

			<div class="links-mp">
				<a href="/">Главная страница</a>
			</div>
		</div>

		<div class="vcard">
			<div class="phones">
				<ul>
					<li class="tel">(812) <span>454-54-03</span></li>
					<li class="tel">(812) <span>925-06-55</span></li>
					<li class="tel">(921) <span>892-35-52</span></li>
				</ul>
			</div>

			<div class="link-vk">
				<a href="http://vk.com/mediaconcern" target="_blank"><img src="/bundles/main/images/icon-vk.png" alt="Медиа Концерн ВКонтакте" title="Медиа Концерн ВКонтакте" /></a>
			</div>
			<div class="links">
				<ul>
					<li><a href="/contacts/">Контактная информация</a></li>
					<li><a href="/sitemap/">Карта сайта</a></li>
				</ul>
			</div>
			<div class="clearing"></div>

			<div class="link-order">
				<a href="/zakazat-prazdnik/">
					<div>Заказать праздник</div>
					<div>/ мероприятие</div>
				</a>
			</div>

			<div class="link-discount">
				<a href="/discount/">
					<div>Получить<br />скидку</div>
				</a>
			</div>
		</div>

		<div class="clearing"></div>
	</div>

	<div class="menu">
		<div class="menu-corner-left">
			<div class="menu-corner-right">
				<ul>
					<li><a href="/company/">О компании</a></li>
					<li><a href="/portfolio/">Портфолио</a></li>
					<li><a href="/comments/">Отзывы клиентов</a></li>
					<li><a href="/price/">Цены на услуги</a></li>
					<li><a href="/pays/">Способы оплаты</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-right-container">
	<div class="col-right">
		{% block content %}{% endblock %}
	</div>
	</div>

	<div class="menu-second">
        <div class="content-second-container"></div>
		{% block leftMenu %}{% endblock %}
	</div>

	</div>

	<div class="clearing"></div>

	<div class="footer-empty">&nbsp;</div>
	<div class="footer">
		<div class="footer-content">
			<div class="footer-menu">
				<ul>
					<li><a href="/korporativi/">Организация корпоративов</a></li>
					<li><a href="/korporativi/team-building/">Организация тимбилдинга</a></li>
					<li><a href="/detskie-prazdniki/">Детские праздники</a></li>
					<li><a href="/svadba/">Организация свадьбы</a></li>
					<li><a href="/kontsertj/">Организация концертов</a></li>
					<li><a href="/yubilej-den-ozhdeniya/">Организация юбилея и дня рождения</a></li>
				</ul>
			</div>
			<div>Copyright &copy; 2009&#151;2013 ООО &laquo;Медиа Концерн&raquo;</div>
			<div>Организация корпоративных мероприятий и частных праздников</div>
		</div>
	</div>

	</div>

	<!-- Yandex.Metrika counter --><script type="text/javascript">var yaParams = {/*Здесь параметры визита*/};</script><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter13920649 = new Ya.Metrika({id:13920649, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true, trackHash:true,params:window.yaParams||{ }}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/13920649" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->

	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
		(function (d, w, c) {
			(w[c] = w[c] || []).push(function() {
				try {
					w.yaCounter20644147 = new Ya.Metrika({id:20644147,
						webvisor:true,
						clickmap:true,
						trackLinks:true,
						accurateTrackBounce:true});
				} catch(e) { }
			});

			var n = d.getElementsByTagName("script")[0],
							s = d.createElement("script"),
							f = function () { n.parentNode.insertBefore(s, n); };
			s.type = "text/javascript";
			s.async = true;
			s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

			if (w.opera == "[object Opera]") {
				d.addEventListener("DOMContentLoaded", f, false);
			} else { f(); }
		})(document, window, "yandex_metrika_callbacks");
	</script>
	<noscript><div><img src="//mc.yandex.ru/watch/20644147" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
	<!-- Google Analitics-->
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-42230794-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endblock %}