
    <form action="{{ path('search') }}" method="get" class="input-medium search-query">
        {{ form_row(form.name, { 'attr' : { 'class' : 'input-medium search-query','placeholder': "Поиск по каталогу" } })}}
        <!--<input type="text" id="form_name" name="form[name]" required="required" placeholder="Поиск по каталогу" class="input-medium search-query"/>-->
    </form>
