{% extends "AppMainBundle:Default:layout.html.twig" %}

{% block title %}
    404 | Страница не существует
{% endblock %}

{% block description %}
{% endblock %}


{% block content %}
    <div class="span7 content">
    <h1>Запрашиваемой Вами страницы не существует</h1>
        </div>
{% endblock %}