{% extends "AppMainBundle:Default:layout.html.twig" %}

{% block title %}
  Завод ЖБИ «СТК-ПромБетон»,  производство ЖБИ в Санкт-Петербурге, железобетонные изделия спб
{% endblock %}
{% block keywords %}ЖБИ, завод ЖБИ, изготовление ЖБИ, производство ЖБИ {% endblock %}
{% block content %}
  <h1>Завод ЖБИ</h1>
  <p>Компания «СТК-ПромБетон» производит железобетонные изделия для дорожного, энергетического, общегражданского видов строительства.  Мы производим более 12 000 различных ЖБИ изделий. Все они представлены в нашем каталоге с описанием технических параметров. За 3 года работы мы обеспечили железобетонными изделиями более 150 строительных объектов не только в Санкт-Петербурге, но и по всей России. Коллектив и техническое оснащение нашего производства позволяют обеспечить нам высокое качество и оптимальные сроки выполнения работ.</p>
  <table class="index-list-gbi">
    <tr>
      <td><a href="/gbi/prom-stroy/?section=2"><img src="/bundles/main/images/indexPage/lestnici2.png"/></a>
          <p><a href="/gbi/prom-stroy/?section=2">Элементы лестниц</a></p></td>
      <td><a href="/gbi/prom-stroy/?section=5"><img src="/bundles/main/images/indexPage/colonni5.png" /></a>
          <p><a href="/gbi/prom-stroy/?section=5">Колонны железобетонные</a></p></td>
      <td><a href="/gbi/prom-stroy/?section=577"><img src="/bundles/main/images/indexPage/svai577.png" />
          <p>Сваи железобетонные</p></a></td>
    </tr>
    <tr style="height: 3px"></tr>
    <tr>
      <td><a href="/gbi/dor-stroy/?section=251"><img src="/bundles/main/images/indexPage/trubi251.png" />
          <p>Водопропускные трубы</p></a></td>
      <td><a href="/gbi/dor-stroy/?section=235"><img src="/bundles/main/images/indexPage/mosti235.png" />
          <p>Мосты и путепроводы</p></a></td>
      <td><a href="/gbi/dor-stroy/?section=247"><img src="/bundles/main/images/indexPage/podpornie-stenki247.png" />
          <p>Подпорные стены</p></a></td>
    </tr>
    <tr style="height: 3px"></tr>
    <tr>
      <td><a href="/gbi/ingener-stroy/?section=483"><img src="/bundles/main/images/indexPage/lotki483.png" />
          <p>Лотки и плиты для сборных каналов и тоннелей</p></a></td>
      <td><a href="/gbi/energy-stroy/?section=70"><img src="/bundles/main/images/indexPage/fundamenti-lep70.png" />
          <p>Конструкции фундаментов для металлических опор ЛЭП</p></a></td>
      <td><a href="/gbi/energy-stroy/?section=111"><img src="/bundles/main/images/indexPage/fundamenti111.png" />
          <p>Фундаменты под опоры контактной сети для железных дорог</p></a></td>
    </tr>
  </table>

  <h2>Изготовление ЖБИ, производство железобетонных изделий</h2>
  <p>Компания «СТК-ПромБетон» располагает высокотехнологичным оборудованием, обладающем значительным резервом производственных мощностей. Главной особенностью нашей технологической схемы является возможность изготовления ЖБИ по индивидуальным чертежам заказчика, чем часто пользуются наши клиенты, когда требуется изготовление нетиповых железобетонных изделий.</p>
  <p>Технологический процесс изготовления железобетонных изделий включает в себя подготовку арматуры и опалубки, их установку в соответствии с типовым или индивидуальным проектом, заливку бетонной смеси и уход за готовым изделием до его полного застывания. Завод ЖБИ компании «СТК-ПромБетон» тщательно контролирует каждый из перечисленных этапов производства. </p>

  <h2>Продукция завода железобетонных изделий</h2>
  <p>Продукция компании «СТК-ПромБетон» пользуется высоким спросом не только из-за лучших эксплуатационных характеристик, но и за счет следующих особенностей: </p>
  <ul>
    <li>производственные мощности завода ЖБИ;</li>
    <li>инженерно-технологическая группа предлагает услуги проектирования ЖБИ по индивидуальным заказам;</li>
    <li>изделия железобетонные могут быть доставлены прямо на строительную площадку в Санкт-Петербурге или Ленинградской области транспортом «СТК-ПромБетон».</li>
  </ul>
  <p><strong>Каталог продукции завода ЖБИ</strong> включает в себя такие позиции, как звенья труб для монтажа водопропускных систем под насыпями автомобильных и железных дорог, лестничные марши, сваи, колонны, лотки для прокладки сборных каналов, фундаменты для металлических опор ЛЭП и опор контактной сети для железных дорог.</p>

  Вы не нашли нужное изделие в каталоге?
  Мы изготовим его по чертежам.

  В списке представлены  категории нашей продукции, пользующиеся наибольшим спросом:
    <ul>
        <li><a href="/gbi-visual/zvenya-trub/"><span style="font-weight: bold;">Звенья труб</span></a></li>
        <li><a href="/gbi-visual/truby-1/"><span style="font-weight: bold;">Трубы железобетонные</span></a>
        </li>
        <li><a href="/gbi-visual/dorozhnye-zhbi-plity/"><span style="font-weight: bold;">Дорожные железобетонные плиты</span></a>
        </li>
        <li><a href="/gbi-visual/lotki-zhbi-vodootvodnye/"><span style="font-weight: bold;">Лотки железобетонные</span></a>
        </li>
        <li><a href="/gbi-visual/lotki-zhbi-zhelezobetonnye/"><span style="font-weight: bold;">Лотки железнодорожные</span></a>
        </li>
        <li><a href="/gbi-visual/fundamenty-zhbi-dlya-trub/"><span style="font-weight: bold;">Фундаменты для труб из гофрированного металла</span></a>
        </li>
        <li><a href="/gbi-visual/fundamenty-zhbi-pod-lep/"><span style="font-weight: bold;">Фундаменты железобетонные под ЛЭП</span></a>
        </li>
        <li><a href="/gbi-visual/stojki-opory-pod-lep/"><span style="font-weight: bold;">Стойки и опоры под ЛЭП</span></a>
        </li>
        <li><a href="/gbi-visual/fundamenty-trehluchevye/"><span style="font-weight: bold;">Фундаменты трехлучевые</span></a>
        </li>
        <li><a href="/gbi-visual/lestnichnye-marshy/"><span style="font-weight: bold;">Лестничные марши</span></a>
        </li>
        <li><a href="/gbi-visual/lestnichnye-ploschadky/"><span style="font-weight: bold;">Лестничные площадки</span></a>
        </li>
    </ul>
{% endblock %}