{% extends "AppMainBundle:Default:layout.html.twig" %}

{% block title %}
	Организация праздников: организация корпоративных мероприятий, тимбилдинга, бизнес мероприятий, свадьбы, детских праздников, юбилея и дня рождения
{% endblock %}

{% block keywords %}
	праздники, организация праздников, проведение праздников, праздничные мероприятия, корпоративные мероприятия, бизнес мероприятия, конференции, свадьбы, детские праздники, тимбилдинг, концерты, юбилей, день рождения
{% endblock %}

{% block description %}
	Компания &laquo;Медиа Концерн&raquo; осуществляет организацию праздников: корпоративные мероприятия, детские праздники, тимбилдинг, организация дня рождения и юбилея, проведение концертов, свадьбы и детских праздников.
{% endblock %}

{% block leftMenu %}
	<div class="informer">
		<div class="informer-head">
			<a href="/news/">Новости компании</a>
		</div>
		<ul>
			<li><a href="/news/news-detskij-prazdnik-pdd/">Организация полезных школьных праздников. Изучаем правила безопасности дорожного движения с героями мультфильма "Тачки"!</a>
			</li>
			<li><a href="/news/news-kulinarnyj-teambuilding/">Организация &laquo;Кулинарного тимбилдинга&raquo;! Самое интересное и вкусное командообразование! </a>
			</li>
			<li><a href="/news/news-teambuilding-brein-ring/">Уникальное и единственное в Санкт-Петербурге оборудование для проведения тимбилдинга в стиле &laquo;Брейн-Ринг&raquo;!</a>
			</li>
		</ul>

	</div>

	<div class="informer">
		<div class="informer-head">Наши возможности</div>
		<ul>
			<li><a href="/vip-veduschie/">VIP ведущие</a></li>
			<li><a href="/show-programmi/">Праздничные шоу-программы</a></li>
			<li><a href="/korporativi/restoranj-dlya-korporativa/">Рестораны для корпоративов</a></li>
			<li><a href="/ploschadki/">Площадки для загородного отдыха</a></li>
			<li><a href="/dop-uslugi/">Дополнительные услуги</a></li>
		</ul>



	<div class="informer">
	<div class="informer-head">Ежегодные праздники</div>
	<ul>
		<li><a href="/korporativi/na-23-fevralya/">Корпоратив на 23 февраля</a></li>
		<li><a href="/korporativi/na-8-marta/">Корпоратив на 8 марта</a></li>
		<li><a href="/korporativi/na-professionalnuyu-datu/">Корпоратив на профессиональную дату</a></li>
		<li><a href="/maslenitsa/">Масленица</a></li>
	</ul>

        {#<div class="menu-order-form">#}
            {#<form class="form-horizontal">#}
                {#<fieldset>#}

                    {#<!-- Form Name -->#}
                    {#<legend>Заказать</legend>#}

                    {#<!-- Text input-->#}
                    {#<div class="control-group">#}
                        {#<label class="control-label" for="textinput"></label>#}
                        {#<div class="controls">#}
                            {#<input id="textinput" name="textinput" type="text" placeholder="Имя" class="input-medium">#}

                        {#</div>#}
                    {#</div>#}

                    {#<!-- Text input-->#}
                    {#<div class="control-group">#}
                        {#<label class="control-label" for=""></label>#}
                        {#<div class="controls">#}
                            {#<input type="text" class="input-medium bfh-phone" data-format="+7 (ddd) ddd-dddd">#}

                        {#</div>#}
                    {#</div>#}

                    {#<!-- Button -->#}
                    {#<div class="control-group">#}
                        {#<label class="control-label" for=""></label>#}
                        {#<div class="controls">#}
                            {#<button id="" name="" class="btn btn-default">Отправить</button>#}
                        {#</div>#}
                    {#</div>#}

                {#</fieldset>#}
            {#</form>#}
        {#</div>#}

    </div>
{% endblock %}

{% block content %}
	<div class="col-center-container">
		<div class="col-center">
			<h1>Организация праздников: <a href="/korporativi/">организация корпоративных мероприятий</a>, тимбилдинга, бизнес мероприятий, свадьбы, детских праздников, юбилея и дня рождения</h1>

			<div class="enum-list">

				<ul>
					<li>
						<div class="enum-content">
							<h2><a href="/korporativi/">Организация и проведение<br />корпоративных мероприятий</a></h2>
							<ul>
								<li><a href="/korporativi/veduschie-na-korporativ/">Ведущий на корпоратив</a></li>
								<li><a href="/korporativi/korporativnye-prazdniki/">Корпоративные праздники</a></li>
								<li><a href="/korporativi/team-building/">Тимбилдинг и командообразование</a></li>
								<li><a href="/korporativi/komandnye-treningi/">Корпоративные командные тренинги</a></li>
								<li><a href="/korporativi/korporativnyj-sport/">Корпоративный спорт</a></li>
								<li><a href="/korporativi/korporativnyj-turizm/">Корпоративный туризм</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="enum-content">
							<h2><a href="/biznes/">Бизнес мероприятия</a></h2>
							<ul>
								<li><a href="/biznes/presentatsii/">Организация и проведение презентаций</a></li>
								<li><a href="/biznes/konferentsii/">Организация и проведение конференций</a></li>
								<li><a href="/biznes/seminary/">Организация семинаров</a></li>
								<li><a href="/biznes/peregovory/">Организация переговоров</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="enum-content">
							<h2><a href="/svadba/">Организация<br />и проведение свадьбы</a></h2>
							<ul>
								<li><a href="/svadba/veduschie-na-svadbu/">Ведущий/тамада на свадьбу</a></li>
								<li><a href="/svadba/malchishnik/">Мальчишник</a></li>
								<li><a href="/svadba/devichnik/">Девичник</a></li>
							</ul>
							<p>
								Профессиональная организация свадьбы – это культура праздника для молодоженов и искусный отдых для гостей. Проведение свадьбы мы доверяем только лучшим ведущим. Организация классической, тематической, VIP свадьбы.
							</p>
						</div>
					</li>

					<li>
						<div class="enum-content">
							<h2><a href="/detskie-prazdniki/">Детские праздники</a></h2>
							<ul>
								<li><a href="/detskie-prazdniki/detskie-animatory/">Аниматоры на детский праздник</a></li>
								<li><a href="/detskie-prazdniki/detskie-show-programmi/">Шоу-программы на детский праздник</a></li>
								<li><a href="/detskie-prazdniki/vypusknoj-v-detskom-sadu/">Выпускной в детском саду</a></li>
							</ul>
							<p>
								Организация детского праздника – работа аниматоров с высшим театральным образованием. Проведение детских праздников с интересным реквизитом, костюмами, номера с животными – побалуйте своего ребенка!
							</p>
						</div>
					</li>

					<li>
						<div class="enum-content">
							<h2><a href="/yubilej-den-rozhdeniya/">Организация и проведение<br />юбилея и дня рождения</a></h2>
							<ul>
								<li><a href="/yubilej-den-rozhdeniya/veduschie-na-yubilj-den-rozhdeniya/">Ведущий на Юбилей и День Рождения</a></li>
							</ul>
							<p>
								К вашим услугам авторские разработки и индивидуальный сценарий. Организация юбилея и дня рождения в необычном ключе. Подбор ресторанов, приглашение артистов, популярных ведущих, пространственное оформление, фото и видео съемка на ваш праздник! Проведение юбилея и дня рождения абсолютно любого масштаба и сложности.
							</p>
						</div>
					</li>

					<li>
						<div class="enum-content">
							<h2><a href="/shkolnye-prazdniki/">Школьные праздники</a></h2>
							<ul>
								<li><a href="/shkolnye-prazdniki/vypusknoj/">Выпускной для 9 и 11 классов</a></li>
								<li><a href="/shkolnye-prazdniki/vypusknoj-v-nacalnoj-shkole/">Выпускной в начальной школе</a></li>
								<li><a href="/shkolnye-prazdniki/tematicheskiy-shkolnyj-prazdnik/">Тематический школьный праздник</a></li>
							</ul>
							<p>
								Организация школьных праздников – 1 сентября, выпускной вечер, последний звонок – по доброй традиции, но с новыми идеями. Встреча осени, весны и лета, проводы зимы с первоклассниками. Школьный театр, множество турниров.
							</p>
						</div>
					</li>

					<li>
						<div class="enum-content">
							<h2><a href="/kontsertj/">Организация концертов,<br />гастролей и шоу</a></h2>
							<p>
								Профессиональная работа с артистами, звездами эстрады, популярными ведущими. Опытные сотрудники обеспечивают и контролируют сопровождение и обслуживание организации концертов, шоу: подбор площадок, гостиничный сервис, паспортно-визовые вопросы. Полное администрирование и безопасность проектов. Организация концертов по России и за границей.
							</p>
						</div>
					</li>

					<li>
						<div class="enum-content">
							<h2><a href="/transport/">Корпоративный<br />транспорт</a></h2>
							<p>
								Комплексное и индивидуальное решения транспортных вопросов. Организация корпоративного выезда за город, природу на комфортабельных автобусах, заказ лимузинов, автомобилей премиум-класса. Проведение корпоративных мероприятий в режиме bus-party. Организация корпоративного транспорта по России и за границу.
							</p>
						</div>
					</li>
				</ul>
			</div>

			<p>
				<a href="/korporativi/">Организация корпоративных мероприятий</a> и праздников – это искусство дарить людям радость и восторженные воспоминания.
			</p>

			<p>
				Компания &laquo;Медиа Концерн&raquo; давно и успешно занимается проведением и организацией праздников. Наши профессиональные сотрудники помогут сохранить в памяти самые прекрасные моменты вашей жизни и возьмут на себя все хлопоты по подготовке к любым праздничным мероприятиям.
			</p>

			<p>
				В наших силах организовать для вас корпоративное мероприятие любого направления и любой сложности, которое станет ярким моментом в жизни ваших близких и родных.
			</p>

			<p>
				Компания &laquo;Медиа Концерн&raquo; гарантирует вам прекрасное настроение в кругу ваших друзей, родных, партнеров и коллег.
			</p>

			<p>
				Единая идея объединяет интересы всех участников мероприятия, когда нам доверяется:
			</p>

			<ul>
				<li><a href="/korporativi/">Организация корпоративных мероприятий</a>;</li>
				<li><a href="/korporativi/team-building/">Организация тимбилдинга</a>;</li>
				<li><a href="/svadba/">Организация свадьбы</a>;</li>
				<li><a href="/detskie-prazdniki/">Организация детских праздников</a>.</li>
			</ul>

			<p>
				На организованных нами мероприятиях не бывает скучающих гостей, каждый чувствует на себе заботу и внимание, и интересы всех учитываются при создании сценария.
			</p>

			<p>
				Несколько поводов для заключения договора с компанией &laquo;Медиа Концерн&raquo;:
			</p>

			<ul>
				<li>Мы оказываем услуги на высоком уровне. Свои обязательства мы выполняем своевременно;</li>
				<li>С нашей компанией сотрудничают настоящие профессионалы: артисты, фотографы, ведущие, видеооператоры;</li>
				<li>Все участники вашего праздника приглашаются без посредников, значит, мы можем предложить вам <a href="/price/">выгодные цены</a> на проведение торжественных мероприятий;</li>
				<li>Организацией и проведением мероприятия руководит один человек – менеджер нашей компании;</li>
				<li>У клиента есть возможность заранее познакомиться с работой каждого специалиста нашей компании;</li>
				<li>Каждое мероприятие проводится по индивидуальному сценарию. Нам не нужны готовые зарисовки, для каждого заказа мы находим нестандартное решение;</li>
				<li>Мы разрабатываем любое мероприятие, учитывая возможности вашего бюджета.</li>
			</ul>

			<p>
				Организация праздников с нашей компанией – это настоящий фейерверк ярких эмоций, который будет с вами всегда!
			</p>
			<div class="enc-order">
				<table>
					<tr>
						<td class="enc-order icon"><img src="/bundles/main/images/icon-enc-order.png" /></td>
						<td class="enc-order data">

							<a href="/zakazat-prazdnik/">Закажите Праздник<br />/ Мероприятие</a> On-Line

						</td>

						<td class="enc-order separate">или</td>

						<td class="enc-order icon"><img src="/bundles/main/images/icon-enc-phone.png" /></td>
						<td class="enc-order data">

							Позвоните нам:
							<div>(812) 454-54-03, (812) 925-06-55, (921) 892-35-52</div>

						</td>
					</tr>
				</table>
			</div>

        </div>
	</div>

	<div class="col-right-content">

		<div class="informer">
			<div class="informer-head">Наши клиенты</div>
			<ul class="jcarousel jcarousel-skin-tango v-carousel">
				<li><img src="/bundles/main/images/logos/lenta-logo.jpeg" /></li>
				<li><img src="/bundles/main/images/logos/toyota-logo.jpg" /></li>
				<li><img src="/bundles/main/images/logos/gazprom-neft.jpg" /></li>
				<li><img src="/bundles/main/images/logos/gazprom-mezhregiongaz.jpg" /></li>
				<li><img src="/bundles/main/images/logos/sberbank.jpg" /></li>
				<li><img src="/bundles/main/images/logos/rosatom.jpg" /></li>
				<li><img src="/bundles/main/images/logos/hyundai-glovis.jpg" /></li>
				<li><img src="/bundles/main/images/logos/smolenskie-samotsvety.jpg" /></li>
				<li><img src="/bundles/main/images/logos/natuzii.jpg" /></li>
				<li><img src="/bundles/main/images/logos/raiffaizen-bank.jpg" /></li>
				<li><img src="/bundles/main/images/logos/1-ekologicheskaya-kompaniya.jpg" /></li>
				<li><img src="/bundles/main/images/logos/germes-group.jpg" /></li>
				<li><img src="/bundles/main/images/logos/makisvet.jpg" /></li>
				<li><img src="/bundles/main/images/logos/okaniya.jpg" /></li>
				<li><img src="/bundles/main/images/logos/stk-modul.jpg" /></li>
				<li><img src="/bundles/main/images/logos/shopelectro.jpg" /></li>
				<li><img src="/bundles/main/images/logos/profitrade.jpg" /></li>
				<li><img src="/bundles/main/images/logos/13.jpg" /></li>
				<li><img src="/bundles/main/images/logos/14.jpg" /></li>
			</ul>
		</div>

		<div class="informer">
			<div class="informer-head">
				<a href="/prazdnik-kazhadyj-den/">Праздник каждый день</a>
			</div>
			<ul>
				<li><a href="/prazdnik-kazhadyj-den/may-7/">Праздники 7 мая</a>
				</li>
				<li><a href="/prazdnik-kazhadyj-den/may-6/">Праздники 6 мая</a>
				</li>
				<li><a href="/prazdnik-kazhadyj-den/april-22/">Праздники 22 апреля</a>
				</li>
				<li><a href="/prazdnik-kazhadyj-den/april-16/">Праздники 16 апреля</a>
				</li>
				<li><a href="/prazdnik-kazhadyj-den/april-15/">Праздники 15 апреля</a>
				</li>
				<li><a href="/prazdnik-kazhadyj-den/april-11/">Праздники 11 апреля</a>
				</li>
				<li><a href="/prazdnik-kazhadyj-den/april-10/">Праздники 10 апреля</a>
				</li>
				<li><a href="/prazdnik-kazhadyj-den/april-9/">Праздники 9 апреля</a>
				</li>
				<li><a href="/prazdnik-kazhadyj-den/april-8/">Праздники 8 апреля</a>
				</li>
			</ul>

		</div>

	</div>
{% endblock %}