{% extends "AppMainBundle:Default:layout.html.twig" %}

{% block title %}
	{{ staticPage.getTitle() }}
{% endblock %}

{% block description %}
	{{ staticPage.getDescription() }}
{% endblock %}


{% block content %}
	<h1>{{ staticPage.getH1() }}</h1>
	{% autoescape false %}
		{{ include(template_from_string(staticPage.getText())) }}
	{% endautoescape %}

{% endblock %}