{% extends "AppMainBundle:Default:layout.html.twig" %}

{% block title %}
	Оформление заказа на ЖБИ продукцию
{% endblock %}

{% block description %}
{% endblock %}

{% block content %}
	<h1>Оформление заказа на ЖБИ продукцию</h1>
	{% include "AppCatalogBundle:Form:order.html.twig" %}
{% endblock %}