{% extends "AppMainBundle:Default:layout.html.twig" %}
{% block title %}
	Оформление заказа на ЖБИ продукцию
{% endblock %}

{% block description %}
{% endblock %}

{% block content %}
	<h1>Ваш заказ принят</h1>
	<a href="/">Вернуться на главную</a>
{% endblock %}