<tr>
	<td>товар</td>
	<td>{{ element.nomen }}</td>
	<td class="gbi-list name">
		<a style="font-weight: normal;" target="_blank"  href="{{ path('app_catalog_product', {'id': element.id}) }}">{{ element.label }}</a>
	</td>
	<td>
		{% if element.price != 0 %}
			{{ ((element.price / 5) | round(0, 'ceil')) * 5 }} руб
		{% else %}
			По запросу
		{% endif %}
	</td>
</tr>
