{% extends "AppMainBundle:Default:layout.html.twig" %}

{% block title %}
    Обратная связь
{% endblock %}

{% block description %}
{% endblock %}

{% block content %}
    <h1>
        Обратная связь
    </h1>
        <div class="form-feedback">
            {% include "AppServiceBundle:Form:feedback.html.twig" %}
        </div>
    </div>
{% endblock %}