app_main_gbi:
  pattern: /gbi/
  defaults: { _controller: AppMainBundle:StaticPage:gbiRedirect }

<<<<<<< HEAD
=======
app_main_object:
  pattern: /obekty/{alias}
  defaults: { _controller: AppMainBundle:StaticPage:gbiObjeÑtShow }

>>>>>>> b8b5de59cb413c9c8d72dcc53f0b44dd95e6d75d
app_main_staticpage:
    pattern:  /{alias}/
    defaults: { _controller: AppMainBundle:StaticPage:show }
    requirements:
            alias: ".+"

app_main_index:
  pattern: /
  defaults: { _controller: AppMainBundle:StaticPage:showIndex }
