<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{HTTP_HOST} ^stroyprombeton\.ru
    RewriteRule ^(.*)$ http://www.stroyprombeton.ru/$1 [R=permanent,L]

	#№RewriteBase /
#	RewriteCond %{REQUEST_FILENAME} !-f
#	RewriteCond %{REQUEST_URI} !(.*)/$
#	RewriteRule ^(.*[^/])$ $1/ [L,R=301]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule !\.(js|css|ico|jpg|png|bmp|xml|json|txt)$ app.php [QSA,L]
</IfModule>